.code-table td {
	white-space: normal !important;
}

body {
	color: #c6c7c8;
}

hr {
	border-top: 1px solid #c6c7c8;
}

footer {
	color: #bbb;
}

.wy-nav-content-wrap {
	background: #2f2d2d;
}

.wy-nav-content {
	background: #2f2d2d;
}

.wy-side-nav-search {
	background-color: #5d3913;
}

.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
	color: #c6c7c8;
}

.wy-side-nav-search > div.version {
	color: #c6c7c8;
}

.wy-side-nav-search input[type="text"] {
	color: #e8e8e8;
	background-color: #272727;
}

.wy-nav-top {
	background: #5d3913;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
	color: #c6c7c8;
	background-color: #2f2d2d !important;
	border-right-width: 0;
}

.wy-menu-vertical li.toctree-l2 a:hover, .wy-menu-vertical li.toctree-l3 a:hover, .wy-menu-vertical li.toctree-l4 a:hover, .wy-menu-vertical li.toctree-l5 a:hover, .wy-menu-vertical li.toctree-l6 a:hover, .wy-menu-vertical li.toctree-l7 a:hover, .wy-menu-vertical li.toctree-l8 a:hover, .wy-menu-vertical li.toctree-l9 a:hover, .wy-menu-vertical li.toctree-l10 a:hover {
	background-color: #272727;
}

.wy-menu-vertical li button.toctree-expand {
	color: #c6c7c8;
}

.wy-menu-vertical li.current > a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
	color: #c6c7c8;
}

.wy-menu-vertical li.toctree-l1.current > a {
	border-bottom: 1px solid #272727;
	border-top: 1px solid #272727;
}

.wy-menu-vertical a:visited {
	color: inherit;
}

.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a {
	color: #999;
	background: #272727;
}

.wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.on a:hover {
	background: #2f2d2d;
}

.wy-side-nav-search .wy-dropdown > a:visited, .wy-side-nav-search > a:visited {
	color: inherit;
}

.btn-neutral {
	color: #c6c7c8 !important;
	background-color: #2f2d2d !important;
}

.btn-neutral:hover {
	color: #c6c7c8 !important;
	background-color: #272727 !important;
}

.btn-neutral:visited {
	color: #c6c7c8 !important;
	background-color: #2f2d2d !important;
}

a {
	color: #72b2fb;
}

a:visited {
	color: #c286db;
}

.rst-content code.literal, .rst-content tt.literal {
	color: #999999;
	font-weight: bold;
	background-color: #272727;
	border-width: 0;
}

.rst-content table.docutils thead, .rst-content table.field-list thead, .wy-table thead {
	color: #c6c7c8;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
	background-color: #272727;
}

.rst-content table.docutils td, .rst-content table.field-list td, .wy-table td {
	background-color: #2f2d2d;
}

html.writer-html5 .rst-content table.docutils th {
	border: 1px solid #484848;
}

.rst-content table.docutils td, .wy-table-bordered-all td {
	border-bottom: 1px solid #484848;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
}

.rst-content table.docutils td:first-child, .rst-content table.docutils th:first-child, .rst-content table.field-list td:first-child, .rst-content table.field-list th:first-child, .wy-table td:first-child, .wy-table th:first-child {
	border-left: 1px solid #484848;
}

.rst-content table.docutils tbody > tr:last-child td, .wy-table-bordered-all tbody > tr:last-child td {
	border-bottom: 1px solid #484848;
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
	background-color: #272727;
}

.rst-content div[class^="highlight"], .rst-content pre.literal-block {
	border: 0px;
}

.highlight .c1 {
	color: #62b950;
}

.highlight .cp {
	color: #F2A10B;
}

.highlight .cpf {
	color: #6ED2D2;
}

.highlight .k, .highlight .kv {
	color: #acacac;
}

.highlight .kt {
	color: #93acf9;
}

.highlight .mf {
	color: #06bfbf;
}

.highlight .mi {
	color: #09c8c8;
}

.highlight .nb {
	color: #19B1E3;
}

.highlight .nc {
	color: #93acf9;
}

.highlight .nf {
	color: #ff5e6d;
}

.highlight .nl {
	color: #ff5e6d;
}

.highlight .nt {
	color: #8b8bfd;
}

.highlight .nv {
	color: #09c8c8;
}

.highlight .o {
	color: #acacac;
}

.highlight .s {
	color: #ff5e6d;
}

.highlight .se {
	color: #ff5e6d;
}

.highlight .si {
	color: #ff5e6d;
}